<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>GregsonRaevan_Part2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>917A3DA01E47D4FA00F290B5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>917A3DB41E47D4FB00F290B5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>917A3DBF1E47D4FB00F290B5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
